{
  "presets": ["@babel/preset-env", "@babel/preset-flow", "@babel/preset-react"],
  "plugins": ["@babel/plugin-proposal-class-properties", "react-flow-props-to-prop-types", "react-hot-loader/babel"]
}
